<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg float-end col-2 mx">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Apellido</th>
                    <th>Salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Fernanda</td>
                    <td>Medina</td>
                    <td>ine</td>
                    <td>30000</td>
                    <td>
                      <i class="fa-solid fa-pen-to-square fa-lg text-info mr-2"></i>
                      <i class="fa-solid fa-trash fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Fernanda</td>
                    <td>Medina</td>
                    <td>ine</td>
                    <td>30000</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Fernanda</td>
                    <td>Medina</td>
                    <td>ine</td>
                    <td>30000</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

</div>
